*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    background-color: #1f242d;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
  }
/*1.Header section*/
header{
 color:#fff;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  background-color: #1f242d;
  padding-bottom:10px 0px;
  z-index: 1;
}
nav{
    padding-top: 20px;
    padding-bottom: 20px;
}
#link{
    background-color: #1f242d;
    color:#fff;
    text-decoration: none;
}
.menu{
    background-color: #1f242d;
    color:#fff; 
    display: inline;
    display: none;
}
li,ul,.logo{
    display: inline;
}
nav li{
    margin:0px 28px;
}
ul{
    margin-left: 30%;
}
.logo{
    margin-left:40px;
    font-size: 20px;
}
#link:hover{
    cursor: pointer;
    color: #0ef;
}
@media all and (max-width:600px){
    body{
        scroll-behavior: smooth;
    }
    nav{
        flex-direction: column;
    }
    li,ul,.logo{
        display: block;
        padding: 10px 0px;
    }
    ul{
        text-align: center;
        display: none;
        margin-right: 50%;
    }
    .logo{
        align-self: start;
        margin: 10px 0px 0px 30px;
    }
    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top:25px;
        font-size: larger;
    }
    .showmenu{
        display: block;
    }
    nav{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
/*2.Home section*/
.content{
    color:#fff;
    padding-left: 30px;
    width: 50vw;
    padding-bottom: 20px;
    margin-left: 20PX;
    
}
span{
    color:#0ef;
}
#social-link{
    background-color: #1f242d;
    color:#0ef;
    text-decoration: none;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid #0ef;
    border-radius: 50%;
    margin:10px;
}
#social-link:hover{
    cursor: pointer;
    color:#1f242d;
    background-color: #0ef;
}
.sec{
    min-height: 100vh;
}
.sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img{
    width:40vw;
    margin-right: 40%;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.para{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
p{
    font-size: 16px;
    text-align: justify;
}
.h1{
    font-size: 35px;
}
.h3-font{
    font-size: 27px;
}
.resume{
    margin-top: 20px;
}
#CV{
    background-color:#0ef;
    color:#1f242d;
    text-decoration: none;
    font-size: 15px;
    margin:10px;
    padding: 10px;
    border-radius: 20px;
}
#CV:hover{
    cursor: pointer;
    background-color: white;
}
.mobile-para{
    display:none;
}
@media all and (max-width:600px){
    .sec{
        margin-top: 100px;
        display: block;
    }
    .image{
        display: block;
    }
    .h3-font{
        font-size:23px;
    }
    .h1{
        font-size: 30px;
    }
    .home-img{
        display:block;
        margin-left:25%;
        width:200px;
        margin-top:10%;
    }
    #social-link{
       width:2rem;
       height: 2rem;
    }
    .content{
        padding-left:2px;
        width:95vw;
        margin-left: 5%;
    }
    .mobile-para{
        margin-right: 35px;
        display: block;
    }
    .main-para{
        display: none;
    }
}
/*3.About section*/
.about{
    width: 100vw;
    background-color:#323946;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap:2rem;
    height: 70vh;
}
.about-content{
    color: #fff;
    text-align:justify;
    margin-right: 130px;
    margin-left: 50px;
    margin-top: 70px;
}
.about-img{
    margin-top: 50px;
    width:35vw;
    margin-left:50px;
}
.about-content h2{
    margin:10px 0;
}
#btn{
    background-color:#0ef;
    color:#1f242d;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}
#btn:hover{
    cursor: pointer;
    background-color: white;
}
@media all and (max-width:600px){
    .about{
       height:70vh;
      }
    .about-content{
        text-align:none;
        display:block;
        margin-left:5px;
        margin-right:5px;
        margin-top:10px;
    }
    .about-img{
        display:none;
    }
    .about-para{
        font-size: 15px;
        text-align:none;
    }
    #btn{
        font-size: 10px;
        padding: 5px;
    }
    .read{
      margin-left:43%;
      }

}
/*Education*/
.education{
    background-color: #323946;
}
.edu-container{
    display:grid;
    align-items: center;
    grid-template-columns:repeat(3,1fr);
    margin-left: 50px;
}
.edu-box{
    background-color: #3a404b;
    width:300px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    border: .1rem solid #323232;
    text-align: center;
    transition: .5s ease;
    color: #fff;
}
.edu-box:hover{
    border-color:#fff;
    transform: scale(1.02);
}
.edu-para{
   text-align: center;
}
.education h4{
    color:#0ef;
}
@media all and (max-width:600px){
    .education{
        background-color: #323946;
    }
    .edu-container{
        display:grid;
        align-items: center;
        grid-template-columns:repeat(1,1fr);
        margin-left: 55px;
    }
    .edu-box{
        background-color: #3a404b;
        width:300px;
        height: 100px;
        padding: 10px;
        border-radius: 20px;
        border: .1rem solid #323232;
        text-align: center;
        transition: .5s ease;
        color: #fff;
    }
    .edu-box:hover{
        border-color:#fff;
        transform: scale(1.02);
    }
    .edu-para{
        text-align: center;
        margin-top:10px;
     }
     .education h4{
         color:#0ef;
     }
     .edu-box{
         margin-bottom: 10px;
     }
      .education br{
       display:none;
     }
}
/*4.Skills section*/
.skills{
    background-color: #1f242d;
    color: #fff;
    height: 100vh;
    width:100vw;
}
h2{
    color:#fff;
    text-align: center;
    padding: 20px;
}
#skills-para{
     text-align: center;
     margin-bottom: 25px;
}
.skill-container{
    display:grid;
    align-items: center;
    grid-template-columns:repeat(3,1fr);
    margin-left: 50px;
}
.skill-box{
    background-color: #323946;
    width:400px;
    padding: 10px;
    border-radius: 20px;
    border: .1rem solid #1f242d;
    text-align: center;
    transition: .5s ease;
}
.para-skill{
    padding:3px;
}
.skill-box:hover{
    border-color: #0ef;
    transform: scale(1.02);
}
.skill-style{
    margin-left: 35px;
}
#skill1-style{
    margin-left: 150px;
}
#skill2-style{
    margin-left: 80px;
}
#skill3-style{
    margin-left: 15px;
}
.centering{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}
.web{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
.web-h3{
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
}
#bttn{
    background-color:#0ef;
    color:#1f242d;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}
#bttn:hover{
    cursor: pointer;
    background-color: white;
}
@media all and (max-width:1000px){
    .skill-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media all and (max-width:600px){
     .skills{
        margin-bottom: 150px;
     }
     .skill-container{
         grid-template-columns: repeat(1,1fr);
         grid-template-rows: repeat(3,1fr);
         margin-left: 5px;
         margin-bottom: 20px;
         margin-right:5px ;
     }
     .skill-box{
         width:380px;
         height: 237px;
         padding: 8px;
         margin-bottom: 15px;
     }
    #bttn{
        font-size: 10px;
        padding: 5px;
        margin-top: 50px;
    }
    .web{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
   .skills br{
        display: none;
    }
    .br-skill{
        display: block;
    }
    .web-h3{
        margin-bottom:5px;
        font-size: 20px;
    }
    .centering{
        display:flex;
        align-items: center;
        
    }
    #skill-style{
        margin-left:13%;
    }
    #skill1-style{
        margin-left:43%;
    }
    #skill2-style{
        margin-left: 22%;
    }
    #skill3-style{
        margin-left: 22%;
    }
    h2{
        padding: 8px;
    }
    .para-skill{
        font-size: 13px;
    }
}
/*5.project section*/
.project{
    background-color:#323946 ;
}
#project-para{
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
}
legend{
    color:#0ef;
    margin-left: 5px;
    margin-right: 5px;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-left: 20px;
    margin-right: 20px;
}
.project-box{
    transition: .5s ease;
}
.project-box:hover{
    transform: scale(1.02);
}
fieldset:hover{
    border-width: 2px;
}
.project-box img{
    width:350px;
    height: 160px;
    border-radius: 10px;
}
fieldset{
    width: 350px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    border-color:#0ef;
    border-width: 1px;
}
legend a{
    color:#fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}
.final-year{
    margin-left:37%;
}
.h4-pro{
    color:aqua;
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}
#final-pro{
    margin-left: 20px;
    text-align: center;
    color: #fff;
}
@media all and (max-width:1000px){
    .project-container{
        grid-template-columns: repeat(2,1fr);
        gap:0;
    }    
}
@media all and (max-width:600px){
    .project-container{
        grid-template-columns: repeat(1,1fr);
        gap:0;
    }
    .project-box img{
    height: 160px;
}
.final-year{
    margin-left:5%;
}
}
/*6.contact section*/
.contact-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 10px;
  margin-left: 20px;
}
#contact-i{
    background-color: #1f242d;
    color:#0ef;
    text-decoration: none;
    font-size: 20px;
    border: .2rem solid #0ef;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}
#contact-i:hover{
    cursor: pointer;
    color:#1f242d;
    background-color: #0ef;
}
#contact-link{
    color: #fff;
    text-decoration: none;
}
@media all and (max-width:600px){
    .contact-box{
        grid-template-columns: repeat(1,1fr);
      }
}
/*7.footer section*/
footer{
    background-color:#323946;
    color:white;
    padding:2px;
}
.footer-para{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #1f242d;
    background-color: #0ef;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
}